<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Question-Answering</title>
</head>
<style>
    body{
        background: linear-gradient(to right, rgb(232, 145, 86), rgb(139, 95, 239))
    }

    /* .container {
        max-width: 500px;
        margin-top: 50px;
        background: black;
        color: white;
        padding-top: 6%;
        padding-bottom: 6%;
        padding-left: 5%;
        padding-right: 5%;
        border-radius: 15px;
    } */
</style>
<body>
    {% include 'nav.html' %}
    <h6>Please Enter the Website URL and Your Question Below to Get the Answer</h6>
    <div class="container mt-5 container-fluid">
        <form method="post">
            <div class="form-group">
                <label for="url">Website URL:</label>
                <input class="form-control" type="text" name="url" name="url" required>
            </div>
            <div class="form-group">
                <label for="question">Question:</label>
                <input class="form-control mb-3" type="text" name="question" name="question" required>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>
        <div class="mt-4">
            {% if answer %}
    
                <h2>Answer: </h2>
                <p class="h5 text-dark">{{answer}}</p>
    
            {% endif %}
        </div>
    </div>
</body>
</html>